<div class="wrapper">
  <header>
  <div class="timer-header">
    <div class="now-time">
      <div>アラーム</div>
      <span id="now-time"></span>
    </div>
    <div class="new-alarm">
      <%= link_to "+", new_timer_path, class: "new-btn" %>
    </div>
  </div>
  </header>

  <div class="timer-main">
    <div class="set-times">
      <% @timer.each do |timer| %>
        <div class="set-time<%= timer.id %>"
          value = <%= timer.time.strftime("%H:%M") %>
          id= <%= timer.id %>
        >
          <%= timer.time.strftime("%H:%M") %>
          <%= link_to "#{timer.name}", edit_timer_path(timer.id), method: :get %>
          <%= link_to '削除', timer_path(timer.id), method: :delete %>
          <span class="switch">
            <label class="switch3__label">
              <input type="checkbox" class="switch3__input"/>
              <span class="switch3__content"></span>
              <span class="switch3__circle"></span>
            </label>
          </span>

        </div>
      <% end %>
    </div>
  </div>

 
<%# <%= image_tag "5E8BD3_Blue.png"%> %>
<%# <%= audio_tag "alarm.mp3", id:"sound-file"%> %>
<%# <%= audio_tag("alarm.mp3",id:"audio") %> %>

<p class="btn"><a onClick="sound()">クリック</a></p>
 
<audio id="sound" preload="auto">
    <source src="http://idotdesign.net/wp-content/themes/idotdesign/sound/sound.mp3" type="audio/mp3">
    <source src="http://idotdesign.net/wp-content/themes/idotdesign/sound/sound.wav" type="audio/wav">
</audio>



</div>